*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;  
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    height: 70px;
}
.logo {
    color: rgb(0, 84, 195);
    font-family: Arial, Helvetica, sans-serif;
}